<section class='contact'>

	<div class='container'>

		<h1 class='header'>
			Contact Us
		</h1>

		<p ng-hide='wasFormSubmitted'>
			Please excuse any shortcomings with our website, as it's still under construction.
		</p>

		<p ng-hide='wasFormSubmitted'>
			Contact us directly with any questions or for more information!
		</p>

		<form ng-submit='submitForm(user)' ng-hide='wasFormSubmitted'>

			<div>
				Name <br>
				<input type='text' ng-required ng-model='user.name' name='name' placeholder='John Doe'>
			</div>

			<div>
				E-mail <br>
				<input type='email' ng-required ng-model='user.email' name='email' placeholder='john.doe@gmail.com'>
			</div>

			<div>
				Select your role <br>
				<select ng-model='user.role' ng-required>
					<option value='student'>Student</option>
					<option value='educator'>Educator</option>
					<option value='parent'>Parent</option>
					<option value='donor'>Donor</option>
					<option value='other'>Other</option>
				</select>
			</div>

			<div>
				Message <br>
				<textarea rows='4' ng-required ng-model='user.message'> </textarea>
			</div>

			<div class='checkboxes'>
				<label> <input type='checkbox' ng-model='user.newsletter'> <span>I would like to receive the Kinetic Newsletter.</span></label>
			</div>

			<div class='btns'>
				<input type='submit' class='btn' value='Submit'>
			</div>

		</form>

		<div ng-show='wasFormSubmitted'>
			<p>Your request was submitted successfully. You should hear back from a team member shortly.</p>
		</div>

	</div>

</section>