<section class='launch'>
	<h1 class='header'>Bring Kinetic</br>to Your Campus!</h1>

	<form>
		<div>
			Name:<br>
			<input type='text' placeholder='John Smith'  ng-model='user.name'/> <br>
		</div>

		<div>
			Email:<br>
			<input type='email' placeholder='john.smith@gmail.com' ng-model='user.email'> <br>
		</div>

		<div>
			Scool:<br>
			<input type='school' placeholder='Williams College' ng-model='user.school'> <br>
		</div>

		<div>
			Class Year:<br>
			<select name='year'>
				<option value='2017'> 2017 </option>
				<option value='2018'> 2018 </option>
				<option value='2019'> 2019 </option>
				<option value='2020'> 2020 </option>
			</select><br>
		</div>

		<div>
			Questions:<br>
		<textarea rows='4' cols='46'></textarea>
		</div'

	</form>

	<div class='btns'>
		<input type='submit' class=btn value='Submit'>
	</div>

</section>
