<section class='launch'>
	<title>Create a Kinetic Chapter on your Campus</title>
	<meta name="description" content="Launch a Kinetic Chapter on your campus and start impacting change in creative ways.">
	<h1 class='header'>Bring Kinetic</br>to Your Campus!</h1>

	<form ng-submit='submitForm(user)'>
		<div>
			Name:<br>
			<input type='text' placeholder='John Smith'  ng-model='user.name' ng-required> <br>
		</div>

		<div>
			Email:<br>
			<input type='email' placeholder='john.smith@college.edu' ng-model='user.email' ng-required> <br>
		</div>

		<div>
			School:<br>
			<input type='school' ng-required placeholder='Williams College' ng-model='user.school' ng-required> <br>
		</div>

		<div>
			Class Year:<br>
			<select name='year' ng-model='user.classYear' ng-required>
				<option value='2017'> 2017 </option>
				<option value='2018'> 2018 </option>
				<option value='2019'> 2019 </option>
				<option value='2020'> 2020 </option>
			</select><br>
		</div>

		<div>
			Questions:<br>
			<textarea rows='4'></textarea>
		</div>

		<div class='checkboxes'>
			<label> <input type='checkbox' ng-model='user.newsletter'/> <span>I would like to receive the Kinetic Newsletter.</span></label>
		</div>

		<div class='btns'>
			<button type='submit' value='submit' class='btn' ng-show='show'>Submit</button>
			<h3 ng-show='!show'>Thank you for your interest. Someone will reach out shortly.</h3>
		</div>
	</form>

</section>
