<section class='launch'>
	<h1 class='header'>Bring Kinetic</br>to Your Campus!</h1>

	<form>
		Name:<br>
		<input type='text' ng-model='user.name'/> <br>
		Email:<br>
		<input type='email' ng-model='user.email'> <br>
		Scool:<br>
		<input type='school' ng-model='user.school'> <br>

		Class Year:<br>
		<select name='year'>
			<option value='2017'> 2017 </option>
			<option value='2018'> 2018 </option>
			<option value='2019'> 2019 </option>
			<option value='2020'> 2020 </option>
		</select><br>

		Questions:<br>
		<textarea>
		</textarea>
	</form>

</section>
