<div class='navbar navbar-static-top'>
	<div class='container'>
		<div class='dropdown'>
			<div class='dropdown-title'>
				What We Do
			</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click="goToSection('.problem', 'home')"> The Problem </a>
						<a ng-click="goToSection('.solution', 'home')"> Our Solution </a>
						<a ng-click="goToSection('.what-is', 'home')"> What is Kinetic </a>
						<a ng-click="goToSection('.about-us', 'home')"> About Us </a>
						<a ng-click="goToSection('.sponsored', 'home')"> Key Issues </a>
						<a ng-click="goToSection('.get-involved', 'home')"> Get Involved </a>
					</div>
				</div>
		</div>

		<div class='dropdown'>
			<div class='dropdown-title'>
				Get Involved
			</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click=goToSection('.launch')> Launch a Chapter </a>
						<a ng-click=goToSection('.mentor')> Become a Mentor </a>
						<a ng-click=goToSection('.nominate')> Nominate an Experet </a>
						<a ng-click=goToSection('.support')> Support Kinetic Global </a>
					</div>
				</div>
		</div>

		<div class='dropdown'>
			<div class='dropdown-title'>
				Resources
			</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click=goToSection('.expert')> Expert Network </a>
						<a ng-click=goToSection('.campuses')> Campuses </a>
						<a ng-click=goToSection('.handbook')>  Get a Handbook </a>
					</div>
				</div>
		</div>

		<div class='dropdown'>
			<div class='dropdown-title'>
				Stories
			</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click=gotosection('.projects')> Projects </a>
						<a ng-click=gotosection('.blog')> KG Blog </a>
					</div>
				</div>
		</div>

		<div class='dropdown'>
			<div class='dropdown-title'>
				Login
			</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click=gotosection('.login')> Login </a>
						<a ng-click=gotosection('.create')> Create Account </a>
					</div>
				</div>
		</div>
	</div>
</div>
