<nav id='navbar' class='navbar navbar-static-top'>
	<div class='container'>

		<div class='logo'>
			<a ng-click="goToSection('.home', 'home')">
				<img src="https://s3.amazonaws.com/kineticglobal-prod/kinetic-logo.png">
			</a>
		</div>

		<div class="btns btns-logo">
			<button ng-click='goToSection(".support", "support")' class="btn btn-logo" type="button"> Support Kinetic </button>
		</div>

		<div class='dropdown-lists'>

			<div class='dropdown'>
				<div class='dropdown-title'>
					What is Kinetic
				</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click='goToSection(".problem", "home")'> The Problem </a>
						<a ng-click='goToSection(".solution", "home")'> Our Solution </a>
						<a ng-click='goToSection(".what-is", "home")'> What We Do </a>
						<a ng-click='goToSection(".about-us", "home")'> About Us </a>
						<a ng-click='goToSection(".sponsored", "home")'> Key Issues </a>
						<a ng-click='goToSection(".get-involved", "home")'> Get Involved </a>
					</div>
				</div>
			</div>

			 <div class='dropdown'>
				<div class='dropdown-title'>
					Get Involved
				</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click='goToSection(".launch", "launch")'> Launch a Chapter </a>
						<!--<a ng-click="goToSection('.mentor')"> Become a Mentor </a>-->
						<!--<a ng-click="goToSection('.nominate')"> Nominate an Expert </a>-->
						<a ng-click='goToSection(".support", "support")'> Support Kinetic </a>
					</div>
				</div>
			</div>

			<div class='dropdown'>
				<div class='dropdown-title'>
					Resources
				</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<!--<a ng-click="goToSection('.expert')"> Advisory Network </a>-->
						<a ng-click='goToSection(".campuses", "campuses")'> Campuses </a>
						<!--<a ng-click="goToSection('.handbook')">  Get a Handbook </a>-->
					</div>
				</div>
			</div>

			<!-- <div class='dropdown'>
				<div class='dropdown-title'>
					Stories
				</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ng-click="gotosection('.projects')"> Projects </a>
						<a ng-click="gotosection('.blog')"> KG Blog </a>
					</div>
				</div>
			</div> -->

			<!-- <div class='dropdown'>
				<div class='dropdown-title'>
					Login
				</div>
				<div class='dropdown-content'>
					<div class='list-container'>
						<a ui-sref="login"> Login </a>
						<a ui-sref="signup"> Create Account </a>
					</div>
				</div>
			</div> -->

		</div>
	</div>
</nav>


<!--<div class='mobile-nav-bar'>
	<div class='mobile-container'>
		<button type='button'> CLICK ME </button>
	</div>
</div>-->
