/************* RESETTERS AND HELPERS ***********/

div {
	/*border:1px solid green;*/
}

@font-face{
	font-family: Lato;
	src: url('fonts/lato-regular.ttf');
}

@font-face {
	font-family: Open-Sans;
	src: url('fonts/open-sans-regular.ttf');
}

* {
	margin: 0;
	font-family: 'Lato', 'open-sans';
	z-index: 100;

}

section {
	padding-top: 30px;
}

/************* Common Attributes **************/

.btns {
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: rgb(253, 178, 59);
	border-radius: 5px;
	border: 1px solid white;
	text-align: center;
	color: white;
	cursor: pointer;
	font-size: 12pt;
	text-decoration: none;
}

.header {
	font-size: 35pt;
	text-align: center;
	text-transform: uppercase;
}

.tag-line {
	padding-top: 30px;
	font-size: 14pt;
}

.white {
	color: white;
}
/*************** Section 1 ***************/

.main {
	padding-top: 120px;
	height: 100vh;
	min-height: 370px; /* this is for phones and tablets in landscape mode to make sure there is spacing below the buttons */
	background-image: url('implementation-photo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.big-main {
	padding: 0 50px;
	color: white;
	text-align: center;
	font-size: 35pt;
}

.tag-line-main {
	padding-top: 235px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20pt;
	text-align: center;
}

.btns-main {
	display: flex;
	margin-top: 70px;
}


.btn-main{
	width: 245px;
	padding: 8px 40px;
	text-transform: uppercase;
}


@media all and (min-width: 1200px) {
	.btns-main {
		width: 80%;
		flex-direction: row;
		justify-content: space-around;
	}
}

@media all and (max-width: 1199px) and (min-width: 826px) {
	.btns-main {
		width: 90%;
		justify-content: space-around;
	}
}

@media all and (max-width: 825px) {
	.btns-main {
		flex-direction: column;
	}
	.btn-main {
		margin-top: 30px;
	}
}

@media all and (max-width: 485px) {
	.btns-main {
		margin-top: 0px;
	}
}

/************ Section 2 -- The Problem ************/

.problem {
	position: relative;
	height: 350px;
	background-color: rgb(27, 121, 167);
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.tag-line-problem {
	padding-left: 13px;
	padding-right: 13px;
}

.btns-problem {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}

.btn-problem {
	margin: 0 40px;
	width: 180px;
	height: 70px;
}

@media all and (max-width: 780px) {
	.problem {
		height: 600px;
	}
	.btns-problem {
		width: 60%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		height: 350px;
	}
	.btn-problem {
		margin: 0 40px;
		width: 150px;
		height: 70px;
	}
}

.confused-man {
	width: 85px;
}

/*********** Section 3 -- The Solution ***************/

.solution {
	min-height: 340px;;
	padding: 0px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-container {
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.right-container img {
	width: calc(50vw - 74px);
	display: block;
}

@media all and (max-width: 1165px) {
	.right-container {
		padding: 20px	
	}
}

@media all and (max-width: 640px) {
	.right-container {
		display: none;
	}
}

.btns-solution {
	padding-top: 50px;
}

.btn-solution {
	padding: 10px 60px;
}

/*********** Section 4 -- What Is ***********/

.what-is {
	color: white;
	text-align: center;
	background-color: rgb(27, 121, 167);
}

.tag-line-what-is {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

.what-is-row {
	padding-top: 20px;
	text-align: center;
}

.what-is-row > div {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.research > .underline {
	margin: 10px auto;
	width: 85px;
	border-bottom: 1px solid red;
}

.design > .underline {
	margin: 10px auto;
	width: 60px;
	border-bottom: 1px solid rgb(36, 209, 86);
}

.implementation > .underline {
	margin: 10px auto;
	width: 140px;
	border-bottom: 1px solid rgb(45, 253, 253);
}

.btns-what-is {
	padding: 30px 20px;
	display: flex;
}

.btn-what-is {
	padding: 10px 90px;
	font-size: 17pt;
}


@media all and (max-width: 767px) {
	.btn-what-is {
		padding: 10px 15px;
	}
}

/*********** Section 5 -- About Us ***********/
.about-us {
	height: 641px;
	padding-top: 0px;
}

.images-about-us > img {
	display: block;
	width: 50vw;
}

.right-about-us {
	padding-top: 30px;
}

.header-about-us {
	padding-bottom: 60px;
}

.header-text {
	padding: 0 116px;
	text-align: center;
	font-weight: bold;
}

.btns-about-us {
	display: flex;
	flex-direction: column;
}

 .btn-about-us{
	margin-top: 30px;
	width: 295px;
	height: 50px;
}



/*********** Section 7 -- Get Involved ***********/
.get-involved {
	text-align: center;
	margin-bottom: 120px;
}

.tag-line-get-involved {
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
	font-weight: bolder;
}

.square-container {
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.square-container > div {
	margin-top: 2rem;
}

.description {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.square {
	margin-bottom: 1rem;
	width: 150px;
	height: 150px;
	border: 2px solid white;
	text-align: center;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14pt;
}

.square-orange {
	background-color: rgb(243, 131, 49);
}

.square-blue {
	background-color: rgb(27, 121, 167);
}

.square-aqua {
	background-color: rgb(99, 171, 181);
}

.square-green {
	background-color: rgb(96, 191, 59);
}

.square > p {
	padding-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
}

/************* Footer ******************/
.footer {
	padding-top: 0px;
	height: 70px;
	background-color: rgb(105, 105, 105);
	display: flex;
	align-items: center;
}

.btns-footer {
	margin-left: 50px;
    display: flex;
    justify-content: space-around;
}

.btn-footer {
	width: 180px;
	height: 45px;
	margin-left: 20px;
	background-color: #1b79a7;
}

.footer-connect {
	padding-left: 50px;
	color: white;
	font-weight: bolder;
}

.footer-icons {
	padding: 0 25px;
	color: rgb(66, 66, 66);
}

@media all and (max-width: 1030px) {
	.footer {
		height: 120px;
	}

	.btn-footer {
		margin-left: 0;
		margin-right: 20px;
	}
}

@media all and (max-width: 960px) {
	.btns-footer {
		flex-direction: column;
	}

	.btn-footer {
		margin: 5px 0;
	}
}
