$navbar-height: 100px;

// Each section uses a default tag-line with some modifications
.tag-line {
	padding-top: 30px;
	font-size: 14pt;
}

/*************** Section 1 ***************/
.home {
	padding: 0px;

	.main-section {
		padding-top: 100px;
		min-height: 100vh;
		background-image: url('https://s3.amazonaws.com/kineticglobal-prod/implementation-photo.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: $navbar-height;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media all and (max-width: 861px) {
			background-position-y: 0px;
			padding: 0px;
		}

		.text-container {

			h1 {
				padding: 120px 50px 0px 50px;
				color: white;
				text-align: center;
				font-size: 35pt;
				@media all and (max-width: 400px) {
					padding: 50px 50px 0px 50px;
				}
			}

			h3 {
				padding: 10% 35px 0px 35px;
				font-size: 20pt;
				text-align: center;
				color: white;
			}
		}

		.btns-main {
			margin-top: auto;
			padding: 140px 0px;
			justify-content: space-around;
			flex-direction: row;
			@media all and (min-width: 1200px) {
				width: 50%;
			}

			@media all and (max-width: 1199px) and (min-width: 826px) {
				min-width: 605px;
				width: 50%;
			}

			@media all and (max-width: 825px) {
				flex-direction: column;
				padding-bottom: 80px;
				padding-top: 80px;
			}

			.btn-main{
				padding: 8px 40px;
				width: 245px;
				text-transform: capitalize;
				@media all and (max-width: 825px) and (min-width: 486px) {
					margin-top: 20px;
				}
				@media all and (max-width: 485px) {
					margin-top: 7px;
					margin-bottom: 7px;
				}
			}
		}
	}

	section.overview {
		padding-top: 0;
		.header {
			margin: 30px 20px;
			@media all and (max-width: 485px) {
				margin: 20px 5px;
			}
		}

		.video-container { // shout out to https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
		}

		.video-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	/************ Section 2 -- The Problem ************/
	.problem {
		position: relative;
		height: 350px;
		padding: 30px;
		background-color: $kinetic-blue;
		text-align: center;
		color: white;
		display: flex;
		justify-content: center;
		flex-direction: column;
		@media all and (max-width: 780px) {
			height: 600px;
		}

		.header-problem {
			padding: 0 30px;
		}

		.tag-line-problem {
			padding-left: 13px;
			padding-right: 13px;
		}

		.btns-problem {
			margin: 0 auto;
			padding-top: 50px;
			justify-content: space-around;
			@media all and (max-width: 780px) {
				width: 60%;
				height: 350px;
				margin: 0 auto;
				flex-direction: column;
			}

			.btn-problem {
				margin: 0 40px;
				width: 180px;
				height: 70px;
				cursor: default;
				display: flex;
				justify-content: center;
				align-items: center;
				background: white;
				color: black;
			}

			img {
				width: 85px;
			}

		}
	}

	@media all and (max-width: 780px) {
		.btn-problem {
			margin: 0 40px;
			width: 150px;
			height: 70px;
		}
	}


	/*********** Section 3 -- Our Solution ***************/
	.solution {
		min-height: 340px;;
		padding: 0px;
		background-color: white;
		color: black;
		display: flex;

		.header-container {
			padding: 30px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-basis: calc(50% - 40px);
			@media all and (max-width: 667px) {
				flex-basis: 100%;
			}

			p {
				text-align: center;
			}

			.btns-solution {
				padding-top: 50px;

				.btn-solution {
					padding: 10px 60px;
				}
			}
		}


		.right-container {
			display: flex;
			flex-basis: 50%;
			flex-direction: column;
			@media all and (max-width: 667px) {
				display: none;
			}

			div.img {
				background-image: url('https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-2.jpg');
				height: 383px;
				background-size: cover;
				background-position: center;
			}
		}
	}

	/*********** Section 4 -- What Is ***********/
	.what-is {
		padding-top: 30px;
		color: white;
		text-align: center;
		background-color: $kinetic-blue;

		.tag-line-what-is {
			margin: 0 auto;
			padding-left: 20px;
			padding-right: 20px;
			max-width: 945px;
		}

		.what-is-row {
			padding-top: 20px;
			text-align: center;
			display: flex;
			flex-direction: row;
			@media all and (max-width: 767px) {
				flex-direction: column
			}

			div {
				padding-top: 30px;
				padding-left: 30px;
				padding-right: 30px;

				.circle {
					border-radius: 100%;
					border: 1px solid black;
				}
			}

			div.research > .underline {
				width: 82px;
				margin: 10px auto;
				padding: 0px;
				border-bottom: 1px solid red;
			}

			div.design > .underline {
				width: 60px;
				margin: 10px auto;
				padding: 0px;
				border-bottom: 1px solid rgb(36, 209, 86);
			}

			div.implementation > .underline {
				width: 140px;
				margin: 10px auto;
				padding: 0px;
				border-bottom: 1px solid rgb(45, 253, 253);
			}

		}
		.btns-what-is {
			padding: 30px 20px;

			.btn-what-is {
				width: 450px;
				height: 50px;
				font-size: 20pt;
				@media all and (max-width: 354px) {
					height: 80px;
				}
			}
		}
	}

	/*********** Section 5 -- About Us ***********/
	.about-us {
		padding-top: 0px;
		display: flex;
		// align-items: center;

		.left-about-us {
			display: flex;
 			flex-basis: 50%;
 			flex-direction: column;
 			@media all and (max-width: 831px){
 				display: none;
 			}

			.imgs {
 				min-height: 362px;
				height: 100%;
 				background-size: cover;
 				background-position: center;
			}

			.images-about-us-one {
				background-image: url("https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-1.jpg");
			}

			.images-about-us-two {
				background-image: url("https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-3.jpg");
			}

		}

		.right-about-us {
			width: calc(50% - 60px);
			padding: 30px 30px;
			@media all and (max-width: 831px){
				flex-basis: 80%;
				margin: 0 auto;
			}
			@media all and (max-width: 330px) {
				width: 85%;
				padding: 30px 12px;
			}

			.header-about-us {
				padding-bottom: 30px;
			}

			p {
				margin: 0 auto;
				max-width: 500px;
			}

			.btns-about-us {
				flex-direction: column;

				.btn-about-us{
					width: 295px;
					height: 50px;
					margin-top: 30px;
				}
			}
		}
	}

	/*********** Section 6 -- Sponsored Causes ***********/
	.sponsored {
		padding: 30px 0;
		background-color: $kinetic-blue;
		text-align: center;
		color: white;
		display: flex;
		flex-direction: column;

		.text-content {
			margin: 30px auto;
			width: 80%;
			max-width: 800px;
			text-align: justify;
			font-size: 14pt;
			@media all and (max-width: 780px) {
				width: 90%;
			}
		}

		.cause-images {
			margin: 0 auto;
			width: 80%;
			min-height: 246px;
			display: flex;
			flex-direction: row;
			@media all and (max-width: 930px) {
				width: 100%;
			}
			@media all and (max-width: 780px) {
				width: 100%;
				min-height: 738px;
				flex-direction: column;
			}

			.cause {
				width: 33%;
				@media all and (max-width: 780px) {
					width: auto;
				}

				#homelessness {
					margin: 10px auto;
					width: 148px;
					border-bottom: 1px solid red;
				}

				#food-insecurity {
					margin: 10px auto;
					width: 156px;
					border-bottom: 1px solid rgb(36, 209, 86);
				}

				#environment {
					margin: 10px auto;
					width: 293px;
					border-bottom: 1px solid rgb(45, 253, 253);
				}

				img {
					max-width: 250px;
					max-height: 193px;
				}
			}
		}

		.btn-sponsored {
			width: 295px;
			height: 50px;
			margin-top: 30px;
			font-size: 14pt;
		}
	}

	/*********** Section 7 -- Get Involved ***********/
	.get-involved-home {
		padding-top: 30px;
		margin-bottom: 120px;
		text-align: center;

		.tag-line-get-involved {
			margin: 0 auto;
			max-width: 570px;
			padding-left: 40px;
			padding-right: 40px;
			text-align: center;
			font-weight: bolder;
		}

		.square-container {
			margin-top: 40px;
			margin-left: 40px;
			margin-right: 40px;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			div {
				margin-top: 40px;
				width: 250px;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-wrap: wrap;

				.fix-ie-11 {
					width: 95%;
				}

				@media all and (max-width: 1079px) {
					width: 350px;
					padding: 0 30px;
				}

				@media all and (max-width: 900px) {
					width: 300px;
				}

				.square {
					margin-bottom: 20px;
					width: 150px;
					height: 150px;
					border: 2px solid white;
					text-align: center;
					color: white;
					cursor: pointer;
					display: inline-block;
					font-size: 14pt;

					p {
						padding-left: 10px;
						padding-right: 10px;
					}
				}

				.square-orange {
					background-color: rgb(243, 131, 49);

					&:hover {
						background-color: darken(rgb(243, 131, 49), 10%);
					}
				}

				.square-blue {
					background-color: $kinetic-blue;

					&:hover {
						background-color: darken($kinetic-blue, 10%);
					}
				}

				.square-aqua {
					background-color: rgb(99, 171, 181);

					&:hover {
						background-color: darken(rgb(99, 171, 181), 10%);
					}
				}

				.square-green {
					background-color: rgb(96, 191, 59);

					&:hover {
						background-color: darken(rgb(96, 191, 59), 10%);
					}
				}

				.description {
					margin-top: 20px;
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}
	}
}
