/************* RESETTERS AND HELPERS ***********/

div {
	/*border:1px solid green;*/
}

@font-face{
	font-family: Lato;
	src: url('fonts/lato-regular.ttf');
}

@font-face {
	font-family: Open-Sans;
	src: url('fonts/open-sans-regular.ttf');
}

* {
	margin: 0;
	font-family: 'Lato', 'open-sans';
	z-index: 100;

}

section {
	padding-top: 30px;
}

/************* Common Attributes **************/

.btns {
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: rgb(253, 178, 59);
	border-radius: 5px;
	border: 2px solid white;
	text-align: center;
	color: white;
	cursor: pointer;
	font-size: 14px;
}

.header {
	font-size: 35pt;
	text-transform: uppercase;
}

.tag-line {
	margin: 0 auto;
	padding-top: 30px;
	font-size: 14pt;
}

.white {
	color: white;
}
/*************** Section 1 ***************/

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url('implementation-photo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.btns-main {
	display: flex;
	margin: 0 auto;
	margin-top: 20px;
}
@media all and (min-width: 1200px) {
	.btns-main {
		width: 60%;
		flex-direction: row;
		justify-content: space-around;
	}
}

@media all and (max-width: 1199px) and (min-width: 826px) {
	.btns-main {
		width: 80%;
		justify-content: space-around;
	}
} 

@media all and (max-width: 825px) {
	.btns-main {
		flex-direction: column;
	}
	.btn-main {
		margin-top: 20px;
	}
}

.btn-main{
	padding: 8px 40px;
	text-transform: uppercase;
}

/************ Section 2 -- The Problem ************/

.problem {
	position: relative;
	height: 350px;
	background-color: rgb(27, 121, 167);
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.btns-problem {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.btn-problem {
	margin: 0 40px;
	width: 150px;
	height: 70px;
}

@media all and (max-width: 780px) {
	.problem {
		height: 600px;
	}
	.btns-problem {
		width: 60%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		height: 350px;
	}
	.btn-problem {
		margin: 0 40px;
		width: 150px;
		height: 70px;
	}
}



.confused-man {
	width: 85px;
}

/*********** Section 3 -- The Solution ***************/

.solution{
	height:50vh;
	background-color: white;
	text-align: center;
	color: black;
}

.right > img {
	position: absolute;
	max-height: 50vh;
	right: 0;
}

.btns-solution {
	padding-top: 50px;
}

.btn-solution {
	padding: 10px 60px;
}

/*********** Section 4 -- What Is ***********/

.what-is {
	color: white;
	background-color: rgb(27, 121, 167);
}

.tag-line-what-is {
	max-width: 1200px;
}

.what-is-row {
	padding-top: 50px;
	text-align: center;
}

.research > .underline {
	margin: 20px auto;
	width: 85px;
	border-bottom: 1px solid red;
}

.design > .underline {
	margin: 20px auto;
	width: 60px;
	border-bottom: 1px solid rgb(36, 209, 86);
}

.implementation > .underline {
	margin: 20px auto;
	width: 140px;
	border-bottom: 1px solid rgb(45, 253, 253);
}

.btns-what-is {
	padding: 30px 0px;
}

.btn-what-is {
	padding: 10px 100px;
	font-size: 18pt;
}

/************* Section 7 -- Get Involved ******************/
.get-involved {
}

.square {
	width: 150px;
	height: 150px;
	border: 2px solid white;
	text-align: center;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14pt;
}

.square-orange {
	background-color: rgb(243, 131, 49);
}

.square-blue {
	background-color: rgb(27, 121, 167);
}

.square-aqua {
	background-color: rgb(99, 171, 181);
}

.square-green {
	background-color: rgb(96, 191, 59);
}

.square > p {
	padding-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
}
