.campuses {

    .header {
        padding: 15px 15px 0 15px;
    }

    .container {
        margin: 0 auto;
        padding: 30px 0;
        width: 70%;

        .paragraph {
            padding: 20px 0;
        }

		.interested {
			cursor: pointer;
			text-decoration: underline;
		}

        .list {
            margin: 0 auto;
            padding-top: 30px;

            ul {
                padding-top: 20px;

                li {
                    padding: 3px 0px;
                }
            }
        }
    }

    &-btns {
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-btn{
            width: 450px;
            max-width: 90%;
            height: 60px;
            background-color: $kinetic-yellow;
            border-radius: 5px;
            border: 1px solid white;
            text-align: center;
            color: white;
            cursor: pointer;
            font-size: 16pt;
            text-decoration: none;

            &:hover {
                background-color: darken($kinetic-yellow, 10%)
            }
        }
    }
}
