.handbook {

	padding: 0px;

	.left-half {

		background-color: rgb(17,121,167);
		color: white;
		text-align: center;

		h1 {
			padding-top: 15px;
			font-size: 40pt;
			text-transform: uppercase;
		}
	}
}
