<section class='footer'>

	<div class='btns btns-footer'>
		<button type='button' class='btn btn-footer' ng-click='goToSection(".leadership", "leadership")'> Our Team </button>
		<button type='button' class='btn btn-footer' ng-click='goToSection(".contact", "contact")'> Contact Us </button>
	</div>

	<div class='fa-container'>
		<p class='footer-text'> Connect with us on Social Media: </p>
		<a href='https://twitter.com/kineticglobal1' target='_blank' rel='noopener'>
			<i class='fa fa-twitter fa-3x' aria-hidden="true"> </i>
		</a>

		<a href='https://www.facebook.com/KineticGlobalNetwork/' target='_blank' rel='noopener'>
			<i class='fa fa-facebook fa-3x' aria-hidden="true"></i>
		</a>

		<a href='https://www.linkedin.com/company/7930442?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A7930442%2Cidx%3A2-1-2%2CtarId%3A1469240974241%2Ctas%3Akinetic%20global' targer='_blank' rel='noopener'>
			<i class='fa fa-linkedin fa-3x' aria-hidden="true"></i>
		</a>
	</div>

</section>
