<title>Kinetic Global Webinars</title>
<section class='webinars'>
	<h1 class='header'>Advisor Webinars</h1>

	<div class='container'>
		<div class='side-container' id='right-side'>
			<h2>Upcoming Webinars</h2>
			<p>Looking to join an upcoming advisor call? Add the event to your calendar!<br><br>If you are looking for a webinar happening now, please join at join.me/kineticadvisorcall.</p>
			<div class='content-holder'>
				<iframe src='https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;mode=AGENDA&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kineticglobal.org_dvdepd0hmkvd00lno8jtg1m004%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York' style='border-width:0' frameborder='0' scrolling='no'></iframe>
			</div>
		</div>

		<div class='side-container' id='left-side'>
			<h2>Submit Questions</h2>
			<p>Every advisor webinar will have time for open question and answer sessions. Please look at our webinars calendar and submit your questions ahead of time so that we can share them with the advisor prior to the call! <br><br> Also, please share your questions if you are unable to make a call, as all previous calls will be available on this page and on our YouTube channel.</p>
			<div class='content-holder form'>
				<form ng-submit='submitQuestion(question)' ng-model='question'>
					<div class='input-group'>
						<label>Name</label>
						<input ng-required ng-model='question.name' placeholder='Jane Doe'>
					</div>

					<div class='input-group'>
						<label>Email</label>
						<input type='email' ng-required ng-model='question.email' placeholder='jane.doe@email.com'>
					</div>

					<div class='input-group'>
						<label>School</label>
						<select ng-required ng-model='question.school'>
							<option value='Amherst College' selected>Amherst College</option>
							<option value='Brandeis University'>Brandeis University</option>
							<option value='Columbia University'>Columbia University</option>
							<option value='New York University'>New York University</option>
							<option value='Skidmore College'>Skidmore College</option>
							<option value='Swarthmore College'>Swarthmore College</option>
							<option value='University of Pennsylvania'>University of Pennsylvania</option>
							<option value='University of Southern California'>University of Southern California</option>
							<option value='Vanderbilt University'>Vanderbilt University</option>
							<option value='Washington University in St. Louis'>Washington University in St. Louis</option>
							<option value='Williams College'>Williams College</option>
						</select>
					</div>

					<div class='input-group'>
						<label>Advisor</label>
						<select ng-required ng-model='question.advisor'>
							<option value='Mark Orlowski'>Mark Orlowski</option>
							<option value='Dana Bourland'>Dana Bourland</option>
							<option value='Matthew Aronson'>Matthew Aronson</option>
							<option value='Sam Greenberg and Sarah Rosenkrantz'>Sam Greenberg and Sarah Rosenkrantz</option>
							<option value='Ali Bloch'>Ali Bloch</option>
							<option value='Amy Bachman'>Amy Bachman</option>
							<option value='Other'>Other</option>
						</select>
					</div>

					<div class='input-group text-input'>
						<textarea ng-required ng-model='question.question' placeholder='Enter your question here...'></textarea>
					</div>

					<button ng-show='!submitted' type='submit' class='btn'>Submit Question</button>

					<h3 ng-show='submitted'>Thank you for your question! We'll pass it on to the advisor.</h3>
				</form>
			</div>
		</div>
	</div>

	<div class='youtube'>
		<h3 class='youtube--header'>Archived Webinars</h3>
		<iframe class='youtube--player' width="640" height="360" src="https://www.youtube.com/embed/7QWEcj3AwTU?list=PLGDTe6JKF2XCLdzJqCVDVDOfcbYzLlWr4" showinfo=1 frameborder="0" allowfullscreen></iframe>
	</div>

</section>
