.construction {
	padding-top: 30px;
	height: calc(100vh - 200px);

	.container {
		padding: 60px 0px;
		text-align: center;

		h1 {
			padding-bottom: 30px;
		}

		h3 {
			padding-bottom: 30px;
		}
	}
}
