<section class='template'>
	<h1 class='header'> Kinetic Templates </h1>
	<div class='text-container'>
		<p>
			In under 4 years, Kinetic has already implemented 5 successful projects and helped over 200 students begin their journeys toward becoming lifelong social innovators. In Fall 2016, we are launching chapters on 10 more college campuses across the U.S. With your help, we will continue to add new campuses to the Kinetic Network, expanding the reach and impact of students all around the United States.
		</p>

		<p>
			In the coming years, Kinetic Global will work to develop key issue areas and leverage network learning to maximize our impact. In 2016-2017, each chapter will have teams working on food insecurity, homelessness, and environmental sustainability. By focusing on three key issues, students will be able to leverage the resources of the Kinetic Global Network to have a deeper, more meaningful impact in their communities.
		</p>
	</div> 
	<div class='iframe-container'>
		<iframe src='https://drive.google.com/embeddedfolderview?id=0B4NnXbzOu-EucVhwNjVMbXJlY00#list' frameborder='0'></iframe>
	</div>
</section>