<section class='template'>
	<h1 class='header'> Kinetic Templates </h1>
	<div class='text-container'>
		<p>
			Welcome to the Kinetic Global templates portal! Here you will find all the resources necessary for both running a Kinetic team and running a Kinetic chapter. These materials are meant to support your projects and can be adapted to best fit your team.
		</p>

		<p>
			We are updating these files regularly and love to include user submissions! If you feel as though there are valuable resources that you would love to see here or if you have examples of your work that could be included for other teams, please email our Operations Director Bryan Jones at <a href='mailto:bryan.jones@kinetcglobal.org'>bryan.jones@kinetcglobal.org</a>. We are always looking for feedback and suggestions!
		</p>
	</div> 
	<div class='iframe-container'>
		<iframe src='https://drive.google.com/embeddedfolderview?id=0B4NnXbzOu-EucVhwNjVMbXJlY00#list' frameborder='0'></iframe>
	</div>
</section>