<section class='handbook'>

	<div class='left-half'>

		<h1>Get the<br>Kinetic Handbook</h1>
		<br>
		<p>Are you interested in who we are and how we work</p>
		<br>
		<p>There's no better way than to get a copy of our Kinetic Handbook, the comprehensive guide to all things Kinetic</p>
		<br>
		<p>Fill out the form below and we'll email you a copy. Don't worry, we never send spam!</p>
		<br>

		<form ng-submit='submitGetHandbook(user)'>
			<div>
				Name:<br>
				<input type='text' placeholder='John Doe' ng-model='user.name' ng-required><br>
			</div>

			<div>
				Email:<br>
				<input type='text' placeholder='john.doe@gmail.com' ng-model='user.email' ng-required><br>
			</div>

			<div>
				Profession:<br>
				<input type='text' placeholder='Student' ng-model='user.profession' ng-required><br>
			</div>

			<p>Why are you interested in a handbook?</p>

			<br>

			<div class='checkboxes columns'>
				<label>
					<input type='checkbox' ng-model='user.member'><span>I'm a Kinetic member</span>
				</label>

				<label>
					<input type='checkbox' ng-model='user.interest'><span>I'm interested in starting a chapter</span>
				</label>

				<label>
					<input type='checkbox' ng-model='user.curious'><span>I'm just curious</span>
				</label>

				<label>
					<input type='checkbox' ng-model='user.university'><span>I work at a University</span>
				</label>

			</div>

			<div class='checkboxes'>
				<label> <input type='checkbox' ng-model='user.newsletter'> <span>I would like to receive the Kinetic Newsletter</span> </label>
			</div>

			<div class='btns'>
				<button type='submit' value='submit' class='btn' ng-show=show> Get the Kinetic Handbook </button>
				<h3 ng-hide=show>Thank you for your interest! Please check your email for a copy of the Handbook.</h3>
			</div>

		</form>
	</div>

	<div>
	</div>

</section>
