.footer {
	padding-top: 0px;
	height: 70px;
	background-color: rgb(105, 105, 105);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	@media all and (max-width: 650px) {
		justify-content: center;
	}

	@media all and (max-width: 420px) {
		height: 130px;
	}

	.btns-footer {
		@media all and (max-width: 420px) {
			width: 200px;
			flex-direction: column;
		}

		.btn-footer {
			width: 180px;
			height: 45px;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #1b79a7;
			@media all and (max-width: 650px) {
				margin: 0 10px;
			}

			@media all and (max-width: 420px) {
				margin: 5px 10px;
			}

			&:hover {
				background-color: darken(#1b79a7, 10%);
			}
		}
	}

	.fa-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media all and (max-width: 650px) {
			display: none;
		}

		@media all and (max-width: 420px) {
			.fa-container > .fa {
				display: none;
			}
		}
	}

	.footer-text {
		padding: 0 15px;
		color: white;
		@media all and (max-width: 950px) {
			display: none;
		}
	}

	a {
		.fa {
			padding: 0 15px;
			color: rgb(66, 66, 66);
		}
	}
}
