navbar {
    display: block;
    background: white;

    .container {
        padding: 20px 20px;


        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;

            li {
                padding: 0 10px;

                a {
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        transition: color .15s linear;
                        color: rgb(253,178,59);
                    }

                }
            }
        }
    }

    a {
        color: black;
    }
}
