.container {
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;

    .dropdown {
        position: relative;
        display: inline-block;

        &:hover {
            .dropdown-content {
                display: block;
            }
        }

        .dropdown-btn {
            background-color: white;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

            .list-container {
                display: flex;
                justify-content: center;
                flex-direction: column;

                a {
                    margin: 0 auto;
                    widows: auto;
                    padding: 7px 0px;
                    display: block;
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        color: rgb(253,178,59);
                        transition: color .05s linear;
                    }
                }
            }
        }
    }
}
