.navbar {
	.container {
		width: 100%;
		height: 100px;
		position: relative;
		display: flex;
		justify-content: flex-end;

		.logo {
			position: absolute;
			padding: 16px 30px;
			left: 0;

			img {
				width: 100px;
			}
		}

		.btns-logo {
			position: absolute;
			padding: 15px 50px;
			right: 0px;
			display: flex;
			align-items: flex-start;

			.btn-logo {

				width: 145px;
				height: 30px;
				border-radius: 5px;
			}
		}

		.dropdown-lists {

			display: flex;
			align-items: flex-end;

			.dropdown {
				width: 184px;
				position: relative;
				display: inline-block;
				z-index: 100;

				&:hover {
					.dropdown-content {
						display: block;
						border-top: 2px solid #fdb23b;
					}
				}

				.dropdown-title {
					padding: 16px 0px;
					background-color: white;
					text-align: center;
					color: black;
					font-size: 12pt;
					text-transform: uppercase;
					font-weight: bold;
					border: none;
					cursor: pointer;
				}

				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

					&:hover {
						border-top: 2px solid #fdb23b;
					}

					.list-container {
						padding: 0px 10px;
						width: 164px;
						display: flex;
						justify-content: center;
						flex-direction: column;

						a {
							margin: 0 auto;
							padding: 7px 0px;
							text-align: center;
							display: block;
							color: black;
							text-decoration: none;
							font-weight: bold;
							cursor: pointer;

							&:hover {
								color: rgb(253,178,59);
								transition: color .05s linear;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 869px) {
	.mobile-nav-bar {
		display: none;
	}
}

@media all and (max-width: 870px) {
	.navbar {
		display: none;
	}

	.mobile-nav-bar {
		height: 58px;
		color: black;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.mobile-container {
			padding-right: 30px;

			button {
				cursor: pointer;
			}
		}
	}
}
