.resources {
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		padding: 30px;
	}

	.box-container {
		padding-bottom: 30px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		@media all and (max-width: 662px) {
			flex-direction: column;
			align-items: center;
		}

		.box {
			max-width: 600px;
			width: 600px;
			margin: 15px;
			background-color: rgb(27, 121, 167);
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@media all and (max-width: 662px) {
				width: 300px;
				justify-content: center;
				flex-direction: column;
				align-items: center;
			}

			img {
				width: 500px;
				padding: 30px 15px 15px 15px;
				cursor: pointer;
				@media all and (max-width: 662px) {
					width: 260px;
				}
			}

			.tag {
				font-size: 25pt;
				font-weight: bold;
				text-align: center;
				color: white;
				padding-bottom: 15px;
			}
		}
	}
}
