.advisory {

	.header {
		padding: 30px;
		font-size: 35pt;
		text-align: center;
		text-transform: uppercase;
	}

	.text {
		margin: 0 auto;
		max-width: 900px;
		padding: 30px;
		text-align: center;
		line-height: 150%;
	}

	.advisors {
    	padding: 30px 0;
		display: flex;
		justify-content: center;
		@media all and (max-width: 960px) {
			flex-wrap: wrap;
		}
		@media all and (max-width: 767px) {
			padding: 0px;
			flex-direction: column;
		}

		.advisor {
			padding: 30px 30px;
			text-align: center;

			.name {
				font-weight: bolder;
				text-decoration: underline;
			}

			.about {
				margin: 0 auto;
				width: 300px;
				font-size: 13pt;
			}
		}
	}
}
