
<section class="login">

    <div class="login--container">
        <form class="login--container--form" id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>

            <div class='form-group'>
                <label for="email">E-mail</label>
                <br>
                <input type="text" ng-model="login.email" class='form-control' id="email" placeholder="Enter email">
            </div>

            <div class='login--container--form--password' class='form-group'>
                <label for="login-password">Password</label>
                <br>
                <input type="password" ng-model="login.password" class='form-control' id="login-password" placeholder="Password">
            </div>

            <div class='btns'>                
                <button type="submit" class='btn'>Log In</button>
            </div>
        </form>


        <div class='login--container--options'>
            <!-- 
            TODO: Uncomment once forgot password functionality is working
            <a ui-sref='resetPassword'>Forgot Password</a> 
            -->
            <a ui-sref='signup'>Create an Account</a>
        </div>

    </div>

</section>


<!-- 

 -->