.mentors {

	.header {
		padding: 30px;
		font-size: 35pt;
		text-align: center;
		text-transform: uppercase;
	}

	.text {
		max-width: 900px;
		margin: 0 auto;
		padding: 15px;
		font-size: 12pt;
		text-align: center;
		line-height: 150%;
	}

	.mentor-list {
		padding: 30px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-basis: 100%;

		.mentor {
			margin: 0 auto;
			width: 200px;
			padding: 30px 30px;
			text-align: center;
			flex-basis: 25%;

			img {
				width: 200px;
				height: 200px;
			}

			.info {
				font-weight: bolder;
				font-size: 12pt;
			}

		}
	}
}
