.mentors {
	margin: 0 auto;
	max-width: 1280px;

	.header {
		padding: 30px;
		font-size: 35pt;
		text-align: center;
		text-transform: uppercase;
	}

	.text {
		max-width: 900px;
		margin: 0 auto;
		padding: 15px;
		font-size: 12pt;
		text-align: center;
		line-height: 150%;
	}

	h3 {
		font-size: 25pt;
		text-align: center;
	}

	.mentor-list {
		padding: 30px 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		flex-basis: 100%;

		.mentor {
			padding: 15px 30px;
			text-align: center;
			flex-basis: calc(50% - 60px);

			@media all and (max-width: 669px) {
				flex-basis: 100%;
			}

			img {
				width: 200px;
				height: 200px;
			}

			img.custom-size {
				width: 200px;
				height: auto;
			}

			.info {
				width: 275px;
				margin: 0 auto;
				font-size: 12pt;

				p {
					padding: 5px 0px;
				}

				.name {
					text-decoration: underline;
				}

				.profession {
					font-weight: bold;
				}

				.bio {
					padding: 15px 0px;
				}

				ul.schools {
					padding: 0;
					list-style: inside;
				}
			}
		}
	}
}
