.history {
	.header {
		font-size: 35pt;
		text-align: center;
		text-transform: uppercase;
	}

	p {
		margin: 0 auto;
		padding: 15px 0px 15px 0px;
		width: 80%;
		text-align: justify;
	}

	.first {
		padding-top: 30px;
	}

	.last {
		padding-bottom: 30px;
	}
}
