<section class='resources'>
	<title>Access Kinetic Global's Resources</title>
	<meta name="description" content="Gain access to helpful documents and tools to make your chpater of Kinetic even more effective.">

	<h1 class='header'>Kinetic Global Resources</h1>

	<div class='box-container'>

		<div class='box'>
			<img src='https://s3.amazonaws.com/kineticglobal-prod/kinetic-global-resources/kinetic-templates.jpg' ng-click='goToSection(".template", "template")'>
			<p class='tag'>Kinetic Templates</p>
		</div>

		<div class='box'>
			<img src='https://s3.amazonaws.com/kineticglobal-prod/kinetic-global-resources/advisory-network-webinars.jpg' ng-click='goToSection("webinars", "webinars")'>
			<p class='tag'>Advisory Network Webinars</p>
		</div>

		<div class='box'>
			<img src='https://s3.amazonaws.com/kineticglobal-prod/kinetic-global-resources/kinetic-handbook.jpg' ng-click='goToSection(".handbook", "handbook")'>
			<p class='tag'>Kinetic Handbook</p>
		</div>

		<div class='box'>
			<img src='https://s3.amazonaws.com/kineticglobal-prod/kinetic-global-resources/campuses.jpg' ng-click='goToSection(".campuses", "campuses")'>
			<p class='tag'>Campuses</p>
		</div>

	</div>
</section>
