.mission {
		padding-top: 100px;
  .img-container {
    position: relative;
    width: 100%;
    background-image: url('https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-3-resized.jpg');
    height: 300px;
    .text-container {
	      position: absolute;
	      top: 0;
	      left: 0;
	      bottom: 0;
	      right: 0;
	      width: 80%;
	      margin: 0 auto;
	      text-align: center;
	      display: flex;
	      flex-direction: column;
	      justify-content: center;
	    h1 {
	      color: white; 
	      font-size: 36px;
	    }
    }
  }
  .mission-statement {
  	background-color: #1178a9;
  	color: white;
  	padding: 0 40px;
  	h1 {
  		font-size: 52px;
  		padding: 20px 0;
  	}
  	h3 {
  		font-size: 28px;
  		padding-bottom: 40px;
  	}
  	@media all and (max-width: 767px) {
  		h1 {
  			font-size: 40px
  		}
  		h3 {
  			font-size: 20px;
  			line-height: 24px;
  		}
  	}
  }
  .vision-statement {
  	padding: 0 40px;
  	h1 {
  		font-size: 52px;
  		padding: 20px 0;
  	}
  	h3 {
  		font-size: 28px;
  		padding-bottom: 40px;
  	}
  	@media all and (max-width: 767px) {
  		h1 {
  			font-size: 40px
  		}
  		h3 {
  			font-size: 20px;
  			line-height: 24px;
  		}
  	}
  }
}
