<section class='home'>
	<section class='main'>
		<title> Kinetic Global | Action Oriented Think Tank for College Students </title>
		<meta name="description" content="Kinetic is an action oriented think tank that seeks to create sustainable, non-partisan and creative solutions to a variety of social issues.">
		<div class='text-container'>
			<h1 class='big-main'> Kinetic Global Society?? </h1>
			<h3 class='tag-line tag-line-main'>
				Empowering College Students to Design <br> and Implement Solutions to Social Issues
			</h3>
		</div>

		<div class='btns btns-main'>
			<button ng-click='goToSection(".launch", "launch")' type='button' class='btn btn-main'>Join the Network</button>
			<button ng-click='goToSection(".resources", "resources")' type='button' class='btn btn-main'>Access Resources</button>
			<button ng-click='goToSection(".support", "support")' type='button' class='btn btn-main'>Support Kinetic</button>
		</div>

	</section>

	<!------------------------------------------------------------------------------------>

	<section id='overview' class='overview'>
		<h1 class='header'>Overview of Kinetic Global</h1>
		<div class='video-container'>
			<iframe type="text/html" src="https://www.youtube.com/embed/7QWEcj3AwTU?fs=1" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" frameborder="0"></iframe>

		</div>
	</section>

	<section id='problem' class='problem'>
		<h1 class='header header-problem'> The Problem </h1>
		<p class='tag-line tag-line-problem'>
			College students want to impact change, <br> but they don't know how to start or what to do
		</p>

		<div class='btns btns-problem'>
			<div class='btn btn-problem'> Ideas, Passions, and Desires for Change </div>
			<img class=confused-man ng-src='https://s3.amazonaws.com/kineticglobal-prod/confused-man.png'>
			<div class='btn btn-problem'> Real-world Impact </div>
		</div>
	</section>

	<!------------------------------------------------------------------------------------>

	<section id='solution' class='solution'>
		<div class='header-container'>
			<h1 class='header header-solution'> Our Solution </h1>
			<p class='tag-line'>
				A network of advisors and resources <br> to bring student ideas from potential to action
			</p>

			<div class='btns btns-solution'>
				<button ng-click='goToSection(".model", "model")' class='btn btn-solution'> The Kinetic Model </button>
			</div>
		</div>

		<div class='right-container'>
			<div class='img' style="background-image: url('https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-2.jpg');">
			</div>
		</div>
	</section>

	<!------------------------------------------------------------------------------------>

	<section id='what-is' class='what-is'>

		<h1 class='header'> What is Kinetic Global? </h1>
		<p class='tag-line tag-line-what-is'>
			Kinetic Global is a network of student-run social innovation incubators operating on college campuses across the US. Our organization is built and sustained by students with a desire to implement creative non-political solutions to pressing social issues. We provide resources to turn their ideas into realities.
		</p>

		<br>

		<p class='tag-line tag-line-what-is'>
			Our teams use a three phase process of <strong>research</strong>, <strong>design</strong>, and <strong>implementation</strong>.
		</p>

		<div class='what-is-row'>
			<div class='research'>
				<div> Research </div>
				<div class='underline'> </div>
				<img class='circle' width='100px' height='100px' ng-src='https://s3.amazonaws.com/kineticglobal-prod/research-photo-square.jpg'>
				<p>
					Each team begins the Kinetic process with in-depth research to thoroughly understand their issue and to identify gaps or “pain points” where they can design solutions.
				</p>
			</div>

			<div class='design'>
				<div> Design </div>
				<div class='underline'> </div>
				<img class='circle' width='100px' height='100px' ng-src='https://s3.amazonaws.com/kineticglobal-prod/design-photo-square.jpg'>
				<p>
					After synthesizing the knowledge gained from the research phase, teams brainstorm ideas and prototype possible solutions to the issue, before eventually selecting one model to pursue.
				</p>
			</div>

			<div class='implementation'>
				<div> Implementation </div>
				<div class='underline'> </div>
				<img class='circle' width='100px' height='100px' ng-src='https://s3.amazonaws.com/kineticglobal-prod/implementation-photo-square.jpg'>
				<p>
					Partnering with an external organization, teams pilot their project in their local community before iterating, improving, and scaling it for measurable impact.
				</p>
			</div>
		</div>

		<div class='btns btns-what-is'>
			<button ng-click='goToSection(".handbook", "handbook")' class='btn btn-what-is'> Get the Kinetic Handbook </button>
		</div>
	</section>

	<!------------------------------------------------------------------------------------>

	<section id='about-us' class='about-us'>

		<div class='images-about-us'>
			<div class='img' style="background-image: url('https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-1.jpg');">
			</div>
			<div class='img' style="background-image: url('https://s3.amazonaws.com/kineticglobal-prod/about-us-photo-3.jpg');">
			</div>
		</div>

		<div class='right-about-us'>
			<h2 class='header header-about-us'> About Us </h2>
			<p class='header-text'>
				Kinetic was founded to help college students move beyond theoretical conversations to meaningful action. Kinetic began at Williams College with 15 college students seeking more effective ways to address social issues. It has expanded into a national network of college students, in which chapters across the US are working to effect positive, tangible change in their communities.
			</p>
			<br>
			<p class='header-text'>
				The Kinetic Global Network provides students with the structure and resources to carry out a three-part process of research, design, and implementation. The Network provides access to an advisory network, mentorship, a tested methodology, valuable digital resources and a network of smart and passionate fellow social innovators at universities across the country.
			</p>
			<br>
			<p class='header-text'>
				Ultimately, Kinetic Global envisions a culture of boldly engaged citizens who combine empathy, analysis, and action to create innovative solutions to social issues
			</p>

			<div class='btns btns-about-us'>
				<button ng-click='goToSection(".history", "history")' type='button' class='btn btn-about-us'> History </button>
				<button ng-click='goToSection(".mission", "mission")' type='button' class='btn btn-about-us'> Mission & Vision </button>
			</div>
		</div>

	</section>

	<!------------------------------------------------------------------------------------>
	<section id='sponsored' class='text-content sponsored'>

		<h2 class='header'>Key Issues</h2>
		<div>
			<p class='text-content'>
				The power of the Kinetic Global network lies in the number of motivated college students working on the same issues and learning from each other in the process. For this reason, Kinetic Global has selected three key issues that have interested our members in the past.
			</p>

			<p class='text-content'>
				These issues - homelessness, food insecurity, and environmental sustainability - affect a large number of people in all regions of the country. While they are national in scope, they manifest differently in our local communities, providing Kinetic members an important entry point to intervene.
			</p>

			<p class='text-content'>
				Kinetic Global has compiled databases of advisors and mentors for each issue. These resources should facilitate teams’ understandings of the issue during the research phase and help provide guidance and advice during the design and implementation phases.
			</p>

			<div class='cause-images'>

				<div class='cause'>
					<img ng-src='https://s3.amazonaws.com/kineticglobal-prod/homelessness-graphic.png'>
					<h3>Homelessness</h3>
					<div id='homelessness'> </div>
				</div>

				<div class='cause'>
					<img ng-src='https://s3.amazonaws.com/kineticglobal-prod/food-insecurity-graphic.png'>
					<h3>Food Insecurity</h3>
					<div id='food-insecurity'> </div>
				</div>

				<div class='cause'>
					<img ng-src='https://s3.amazonaws.com/kineticglobal-prod/tree-graphic.png'>
					<h3>Environmental Sustainability</h3>
					<div id='environment'> </div>
				</div>
			</div>

			<button ng-click='goToSection(".advisory", "advisors")' type="button" class='btn btn-sponsored'>Our Advisory Network</button>
		</div>

	</section>

	<!------------------------------------------------------------------------------------>

	<section id='get-involved' class='get-involved'>
		<h1 class='header'> Get Involved </h1>

		<p class='tag-line tag-line-get-involved'>
			Become a partner in action!
		</p>

		<div class='square-container'>

			<div>
				<button ng-click='goToSection(".launch", "launch")' class='square square-orange'>
					<p>  Launch a Chapter </p>
				</button>
				<p class='bold'> Start a chapter on your campus! </p>
				<p class='description'> We provide all the necessary resources and guide you through the process so you can spend less time with the setup and more time effecting change! </p>
			</div>

			<div>
				<button ng-click='goToSection(".mentor", "mentor")' class='square square-blue'>
					<p> Become a Mentor </p>
				</button>
				<p class='bold'> Are you a young college alum looking to get involved? </p>
				<p class='description'> Apply to mentor a team of studentes committed to making change in your community. We make it easy to give back!
				</p>
			</div>

			<div>
				<button ng-click='goToSection(".nominate", "nominate")' class='square square-aqua'>
					<p> Nominate an <br> Issue Advisor</p>
				</button>
				<p class='bold'> Do you know a great advisor for the network? </p>
				<p class='description'> Advisors join our student teams on a bimonthly call to share insight into new developments in their field and answer questions.
				</p>
			</div>


			<div>
				<button ng-click='goToSection(".support", "support")' class='square square-green'>
					<p> Support Kinetic Global </p>
				</button>
				<p class='bold'> Support college students making change in your community!</p>
				<p class='description'> Kinetic Global is a lean operation, so we offer multiple ways to contribute to the network (financially and in-kind). </p>
			</div>

		</div>
	</section>
</section>
