#main {
	min-height: calc(100vh - 170px);
	@media all and (max-width: 870px) {
		min-height: calc(100vh - 70px);
	}
}

// MAIN COLORS USED ACROSS MULTIPLE PAGES
$kinetic-blue: rgb(27, 121, 167);
$kinetic-yellow: rgb(253, 178, 59);

$mobile-navbar-change: 861px;

* {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

section {
	padding-top: 130px;
}
@media all and (max-width: 861px) {
	section {
		padding-top: 30px;
	}
}

a {
	text-decoration: none;
	color: rgb(66,66,66);
}

/************* Common Attributes **************/

// For all groups of buttons, they should be centered using flexbox
.btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: $kinetic-yellow;
	border-radius: 5px;
	border: none;
	text-align: center;
	color: white;
	cursor: pointer;
	font-size: 12pt;
	text-decoration: none;
	transition: .25s;

	&:hover {
		background-color: darken($kinetic-yellow, 10%)
	}

	&:focus {
		outline: none;
	}
}

.btn-transparent {
	background-color: rgba(0, 0, 0, 0);
	border: 2px darken($kinetic-yellow, 10%) solid;
	color: darken($kinetic-yellow, 10%);
	transition:.5s;

	&:hover {
		background-color: darken($kinetic-yellow, 10%);
		color: white;
	}
}

// All headers should be 35pt, Centered, and in Uppercase
.header {
	font-size: 35pt;
	text-align: center;
	text-transform: uppercase;
}
