@import './global';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'history/main';
@import 'campuses/main';
@import 'mission/main';
@import 'construction/main';
@import 'support/main';
@import 'launch/main';
@import 'contact/main';
@import 'advisors/main';
@import 'launch/main';
@import 'handbook/main';
@import 'nominate/main';
@import 'template/main';
@import 'supporters/main';
@import 'mentors/main';
@import 'leadership/main';
@import 'calendar/main';
@import 'resources/main';
@import 'webinars/main';
@import 'become-mentor/main';
@import 'press/main';
@import 'initiatives/main';
@import 'news/main';
