.become-mentor {

	.left-side {
		margin: 0 auto;
		width: 50vw;
		background-color: $kinetic-blue;

		.form {

			div {

				label {
					width: 75%;

					input {

						span {

						}

					}
				}
			}
		}
	}
}
