<section class='payment'>

	<h3 ng-hide='wasFormSubmitted'>Thank you for wanting to make a donation! Please enter your credit or debit card information below.</h3>
	<h3 ng-show='wasFormSubmitted'>Thank you for your donation! We greatly appreciate your efforts to support Kinetic's ongoing work</h3>

	<form ng-submit='submitForm(user)' ng-hide='wasFormSubmitted'>

		<div>
			<p>Name:<p>
			<label>
				<input type='text'  ng-model='user.name' data-stripe='name'>
			</label>
		</div>

		<div>
			<p>Card Number:</p>
			<label>
				<input type='text' maxlength='16' size='16'  ng-model='user.cardNumber' data-stripe='number'>
			</label>
		</div>

		<div>
			<p>Expiration (MM/YY):</p>
			<div>
				<label>
					<input type='text' maxlength='2' size='2'  ng-model='user.expirationMonth' data-stripe='exp_month'>
				</label>
				<span class='white-space'></span>/<span class='white-space'></span>
				<label>
					<input type='text' maxlength='2' size='2'  ng-model='user.expirationYear' data-stripe='exp_year'>
				</label>
			</div>
		</div>

		<div>
			<p>Zip Code:</p>
			<label>
				<input type='text' maxlength='5' size='5' ng-model='user.zipCode' data-stripe='address_zip'>
			</label>
		</div>

		<div>
			<p>CVC:</p>
			<label>
				<input type='text' maxlength='3' size='3' ng-require='true' ng-model='user.cvc' data-stripe='cvc'>
			</label>
		</div>

		<div>
			<p>Amount (in USD):</p>
			<label>
				<input type='text'  ng-model='user.amount' data-stripe='amount'>
			</label>
		</div>

		<div class='btns' ng-hide='wasFormSubmitted'>
			<input type='submit' class='btn' value='Donate'>
		</div>

	</form>

</section>
