<section class='payment'>

	<h3 ng-hide='wasFormSubmitted'>Thank you for your support! Please enter your credit or debit card information below.</h3>
	<h3 ng-show='wasFormSubmitted'>Thank you for your donation! We greatly appreciate your efforts to support Kinetic's ongoing work</h3>
	<h3 ng-show='cardProcessingError'>There was a problem with your credit or debit card and your donation did not go through. We would advise you contact your bank to ensure everything is in working order.</h3>

	<!--<form ng-submit='submitForm(user)' ng-hide='wasFormSubmitted'>
		<div class='credit-card'>

			<div class='credit-card__top'>
				<input class='credit-card__top--zip' type='text' maxlength='5' size='5' ng-model='user.zipCode' data-stripe='address_zip' placeholder='ZIP Code'>
				<input class='credit-card__top--cvc' type='text' maxlength='3' size='3' ng-require='true' ng-model='user.cvc' data-stripe='cvc' placeholder='CVC'>
			</div>

			<div class='credit-card__middle'>
				<label>
					<input class='credit-card__middle--number' type='text' maxlength='16' size='16'  ng-model='user.cardNumber' data-stripe='number' placeholder='Credit Card Number'>
				</label>
				<label>
					<input class='credit-card__middle--amount' type='text'  ng-model='user.amount' data-stripe='amount' placeholder='$ Amount'>
				</label>
			</div>

			<div class='credit-card__bottom'>
				<input class='credit-card__bottom--name' type='text'  ng-model='user.name' data-stripe='name' placeholder='Name on Card'>

				<div class='container'>
					<input type='text' maxlength='2' size='3'  ng-model='user.expirationMonth' data-stripe='exp_month' placeholder='MM'>
					/
					<input type='text' maxlength='2' size='3'  ng-model='user.expiratioYear' data-stripe='exp_year' placeholder='YY'>
				</div>
			</div>

		</div>

		<div class='btns' ng-hide='wasFormSubmitted'>
			<input type='submit' class='btn' value='Donate'>
		</div>

	</form>-->

	<form ng-submit='submitForm(user)' ng-hide='wasFormSubmitted'>
		<script
			src="https://checkout.stripe.com/checkout.js"
			class="stripe-button"
			data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
			data-name="Stripe.com"
			data-description="Donation"
			data-image="https://s3.amazonaws.com/kineticglobal-prod/kinetic-logo.png"
			data-locale="auto"
			data-zip-code="true">
		</script>

		<div class='amount'>
			<p>Enter in the amount you would like to donate</p>
			<input type='text' id='donationAmount'>
			<button ng-click="showStripe()">Proceed to donation</button>
		</div>
	</form>


</section>
