<section class='slack'>
	<h1 class='header'>Kinetic On Slack</h1>
	<h3 class='sub-header'>Join 200+ student social innovators and advisors across the US to develop projects making real change in your community.</h3>

	<form ng-submit='submitJoinSlack(user)'>
		<div>
          <input type='text' ng-model='user.name' placeholder='Name'>
	  </div>

		<div>
			<input type='text' ng-model='user.email' placeholder='Email'>
		</div>

		<div class='btns'>
			<button class='btn'>Join Kinetic on Slack</button>
		</div>


	</form>

	<h3 class='sub-header'>Why should my Kinetic team join slack?</h3>

	<ol>
		<li><strong>Directly access Kinetic members and advisors</strong> across the US. Do you have a burning questions about your issue? Our slack account has channels set up for each campus, for each issue, and for other assorted helpful topics.</li>
		<li><strong>Easy to organize your team’s resources</strong> in a private slack channel. As your team develops your project, you might gain new team members. Using slack will allow you to search old messages in one location.</li>
		<li><strong>Work on your Kinetic project on your computer application, online, or on mobile.</strong></li>
	</ol>

	<p class='padding'>More Resources:</p>
	<ol>
		<li><span class='emphasize'><a href='https://get.slack.help/hc/en-us' target='_blank'>Slack’s Help Center</a></span> is a great place to start with questions.</li>
		<li>Once you join <strong>kineticglobal.slack.com</strong>, the #slackhelp channel is for slack support.</li>
		<li><span class='emphasize'><a href='https://slack.com/downloads/' target='_blank'>Download Slack for your devices</a></span> and check out your <span class='emphasize'><a href='https://get.slack.help/hc/en-us/articles/201895138-Set-up-Slack-notifications' target='_blank'>notification settings</a></span> after joining slack.</li>
	</ol>
</section>
